<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="container">

        <br>
        <h3>Categories</h3>
        <hr>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href="@{/categories/insert}" class="btn btn-primary btn-sm" title="Insert a new category">
                <i class="bi bi-plus"></i>
            </a>
        </div>

        <br>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th scope="col"><i class="bi bi-three-dots-vertical"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category: ${categories}">
                    <td th:text="${category.name}" class="w-80"></td>
                    <td class="w-20">
                        <a th:href="@{/categories/edit(categoryId=${category.id})}"
                           class="btn btn-info btn-sm"
                           title="Edit the category">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a th:href="@{/categories/delete(categoryId=${category.id})}"
                           class="btn btn-danger btn-sm"
                           title="Delete the category">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>